{% extends 'backend/base.html' %}
{% load static %}
{% block title %}Confirm Remove expense{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/deletePage.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
  <!-- Heading Section -->
  <div class="form-header">
    <h2>
      <i class="fas fa-trash-alt"></i>
      Confirm Remove expense
    </h2>
  </div>

  <div class="card-body">
    <div class="alert alert-warning">
      <p>Are you sure you want to permanently remove the expense for <strong>{{ expense.expenseor }}</strong>? This
        action cannot be undone.</p>
    </div>

    <form method="post" action="{% url 'expense_delete' expense.id %}">
      {% csrf_token %}
      <div class="form-footer">
        <a href="{% url 'expense_list' %}" class="btn btn-secondary" id="cancelBtn">Cancel</a>
        <button type="submit" class="btn btn-danger" id="deleteBtn">
          Delete
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}